.main-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 35%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.drawer-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1rem;
}

.close-btn {
  font-size: 1rem;
  cursor: pointer;
  color: #333333;
}

.close-btn:hover {
  color: #3d3d3d;
}

ul {
  padding: 0;
  margin: 0;
  border-top: 1px solid #313131;
}

li {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  background-color: #262626;
  box-sizing: border-box;
  border-bottom: 1px solid #313131;
  position: relative;
  transition: background-image 0.3s ease;
}

li:before,
li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-image: linear-gradient(
    to right,
    rgba(178, 178, 178, 0) 0%,
    rgba(178, 178, 178, 1) 50%,
    rgba(178, 178, 178, 0) 100%
  );
}

li:before {
  top: 0;
}

li:after {
  bottom: 0;
}

li:hover:before,
li:hover:after {
  opacity: 1;
}

li:hover {
  background-image: linear-gradient(
    to right,
    rgba(51, 51, 51, 0) 0%,
    rgba(51, 51, 51, 1) 50%,
    rgba(51, 51, 51, 0) 100%
  );
}

.doc-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: scroll;
}

.doc-name {
  width: 100%;
}

.del-btn {
  color: #e53e3e;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.del-btn:hover {
  border-color: #c53030;
  background-color: #fc8181;
  color: #fed7d7;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  color: white;
  display: inline-block;
}
.close-btn {
  margin-top: 15px;
  background-color: #202020;
  color: #fed7d7;
  border-radius: 0px;
  border: none;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-image: linear-gradient(
    to right,
    rgba(178, 178, 178, 0) 0%,
    rgba(178, 178, 178, 1) 50%,
    rgba(178, 178, 178, 0) 100%
  );
}

.close-btn:before {
  top: 0;
}

.close-btn:after {
  bottom: 0;
}

.close-btn:hover {
  border: transparent;
  color: #feb2b2;
  background-image: linear-gradient(
    to right,
    rgba(51, 51, 51, 0) 0%,
    rgba(51, 51, 51, 1) 50%,
    rgba(51, 51, 51, 0) 100%
  );
}

.close-btn:hover:before,
.close-btn:hover:after {
  opacity: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
