.drawer-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.drawer-icon {
  text-align: left;
  font-size: 1.5rem;
  cursor: pointer;
}

.left-bar {
  display: flex;
  align-items: center;
  gap: 25px;
  flex: 1;
}

.middle-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
  gap: 10px;
}

.right-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.edit-btn {
  font-size: 1.2rem;
  color: #666666;
  cursor: pointer;
}

.new-doc-btn {
  padding: 0;
  width: 3rem;
  cursor: pointer;
}

span {
  cursor: pointer;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: teal;
  text-underline-offset: 2px;
  background-image: linear-gradient(transparent, transparent);
  transition: all 0.3s ease;
}

a:hover {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, teal 0%, magenta 100%);
  text-underline-offset: 6px;
  text-decoration-color: purple;
  transition: all 0.3s ease;
}
