.drawer-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.drawer-icon {
  text-align: left;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.drawer-icon:hover {
  transform: scale(1.2);
}

.left-bar {
  display: flex;
  align-items: center;
  gap: 25px;
  flex: 1;
}

.middle-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
  gap: 10px;
}

.right-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.edit-btn {
  font-size: 1.2rem;
  color: #666666;
  cursor: pointer;
}

.edit-name {
  height: 30px;
  padding: 0px 5px;
  border-radius: 5px;
}

.new-doc-btn {
  padding: 0;
  width: 3rem;
  cursor: pointer;
}

.link {
  cursor: pointer;
  transition: all 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}

.accept-btn {
  cursor: pointer;
}
