.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modal {
  z-index: 2;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
   background-color: teal;
   border: none;
   margin-top: 10px;
}

.btn:hover {
    border: none;
    background-color: #075c5e;
}

.small {
    font-size: 12px;
}
