.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1.3rem;
}

.hero-text {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.25;
  text-align: center;
  background: linear-gradient(to right, turquoise, magenta);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
  user-select: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.supporting-text {
  color: #9c9c9c;
  font-size: 1rem;
  cursor: default;
}

.gif {
  width: 80%;
}

.shine-effect {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
}

.shine-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 55px;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  animation: slide 5s ease-in-out 0.3s infinite;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.14) 20%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.14) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.preview-vid {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  border-radius: 10px;
}

@keyframes slide {
  0% {
    left: -100px;
    top: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  28.57% {
    left: calc(100% + 30px);
    top: 0;
  }
  29.57% {
    opacity: 0;
  }
  100% {
    left: -100px;
    top: 0;
    opacity: 0;
  }
}
