.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.field-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: #212121;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.profile-btn {
  width: auto;
  background-color: transparent;
  padding: 0px 5px;
  margin: 0;
  border: none;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  transition: all 0.3s ease;
  font-weight: 300;
}

.profile-btn:hover {
  color: turquoise;
  border: transparent;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  transition: all 0.3s ease;
  transition: text-underline-offset 0.3s ease, color 0.3s ease;
}

.regular-btn {
  padding: 0;
  width: auto;
  margin: 0;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}

.regular-btn:hover {
  transform: scale(1.1);
}

.field-name {
  font-weight: bold;
  cursor: default;
}

label {
  padding: 0;
  margin: 0;
}

.new-value {
  margin: 0;
  padding: 15px 5px;
  border-radius: 7px;
  outline: none;
  border: none;
}

.delete-account-btn {
  background-color: #fed7d7;
  color: #9b2c2c;
  border: none;
  width: 175px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.delete-account-btn:hover {
  background-color: #feb2b2;
}
